.title {
    color: #000000;
    font-size: 2rem;
    text-decoration: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 3rem;

    h1 {
        text-align: center;
    }
}
.nav-list {
    display: flex;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
    margin-top: 15px;
    list-style-type: none;
}
.nav-item {
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}
.nav-item:hover{
    color: #444444;
}
.active-nav-item {
    color: #222222;
}