.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    margin: 0 150px;
}

.main {
    flex-grow: 1;
}
.content {
    padding: 1rem;
}

@media screen and (max-width: 600px){
    .container {
      margin: 0 200px;
      padding: 3rem;
    }
}